h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: 0;
  font-weight: 300;
}

h2 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0 0 .875rem;
  font-weight: 700;
}
