<header>
  <h1>Palette generator</h1>
</header>
<main>
  <div class="sidenav">
    <h2>Color scheme</h2>
    <div class="radio">
      <input
        type="radio"
        name="spectrum"
        id="monochromatic"
        value="monochromatic"
        [checked]="mode === 'monochromatic'"
        (click)="mode = 'monochromatic'"
      />
      <label for="monochromatic">Monochromatic</label>
    </div>
    <div class="radio">
      <input
        type="radio"
        name="spectrum"
        id="complementary"
        value="complementary"
        [checked]="mode === 'complementary'"
        (click)="mode = 'complementary'"
      />
      <label for="complementary">Complementary</label>
    </div>
    <div class="radio">
      <input
        type="radio"
        name="spectrum"
        id="triad"
        value="triad"
        [checked]="mode === 'triad'"
        (click)="mode = 'triad'"
      />
      <label for="triad">Triad</label>
    </div>
    <button (click)="generatePalette()" class="generate-palette-button">Create palette</button>
  </div>

  <div class="colors">
    <app-color
      *ngFor="let color of colors"
      [h]="color.hue"
      [s]="color.saturation"
      [l]="color.lightness"
    ></app-color>
  </div>
</main>
